# Variables de entorno para dockerizacion de la aplicación Workshop-4

# Copiar este archivo como .env y ajustar los valores según sea necesario


MYSQL_ROOT_PASSWORD=rootpassword
MYSQL_DATABASE=java-backend-db
MYSQL_USER=authuser
MYSQL_PASSWORD=authpassword
JWT_SECRET_KEY=mysecretkey

DATABASE_NAME=coursefinderdb
DATABASE_USER=courseuser
DATABASE_PASSWORD=coursepassword
DEBUG=False
