MYSQL_ROOT_PASSWORD=your_root_password_here
MYSQL_DATABASE=java-backend-db
MYSQL_USER=course_db
MYSQL_PASSWORD=your_password_here
MYSQL_URL=jdbc:mysql://java-backend-db:3306/java-backend-db
JWT_SECRET_KEY=ultrasecreto