MYSQL_ROOT_PASSWORD=sN5JW1kC4zkPfhqvPiY4aOlnf
MYSQL_DATABASE=auth_db_course
MYSQL_USER=course_db
MYSQL_PASSWORD=sN5JW1kC4zkPfhqvPiY4aOlnf
MYSQL_URL=jdbc:mysql://auth_db_course:3306/auth_db_course
JWT_SECRET_KEY=ultrasecreto